{% extends "base.html" %}

{% block title %}
    {{ block.super }} :: {{ news_item.title }}
{% endblock %}

{% block titleh1 %}
    {{ news_item.title }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
        <div class="card mb-3">
            <div class="card-header">
                Категория: <a href="{{ news_item.category.get_absolute_url }}"> {{ news_item.category }} </a>
            </div>
            <div class="card-body">
                <div class="media">
                        {% if news_item.photo %}
                            <img src="{{ news_item.photo.url }}" alt="Фото" class="mr-4" width="65">
                        {% else %}
                            <img src="https://f0.pngfuel.com/png/776/328/lorem-ipsum-text-with-blue-background-png-clip-art-thumbnail.png"
                                 alt="Фото" class="mr-4" width="65">
                        {% endif %}
                    <div class="media-body">
                        <h5 class="card-title">{{ news_item.title }}</h5>
                        <p class="card-text">{{ news_item.content|linebreaks }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ news_item.created_at|date:"d-m-Y H:i:s" }}<br>
                Последнее изменение: {{ news_item.updated_at|date:"SHORT_DATETIME_FORMAT" }}
            </div>
        </div>
{% endblock %}